@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    max-width: 1380px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.bg
{
    width: 100%;
    height: 100vh;
    background: url('bg.jpg');
    background-size: cover;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: black;
    color: white;
    padding: 16px;
}

.nav-links
{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links li
{
    padding: 16px;
}

.nav-links a
{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.nav-links li:hover
{
    background: red;
}