*
{
    margin: 0;
    padding: 0;
}

body
{
    max-width: 1380px;
    margin: auto;
}

header
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: black;
    color: white;
}


